.svg{
	border: 0px solid black;
	position: absolute;
	top: 0px;
	left: 0px;
}
.greyCircle{
	fill: #c0c0c0;
	stroke: black;
	stroke-width: 0.1px;
	/*stroke-dasharray: 0.3 0.6;*/ 
}
.blackCircle{
	fill: black;
}
.lineOne{
	stroke: #d7e7f4;
	stroke-width: 1px;
	stroke-dasharray: 1 1;
}
.numberStyle{
	text-anchor: middle;
	font-size: 15px;
	font-family: Calibri, serif;
}
.forms{
	stroke: #001560;
	fill: #001560;
	fill-opacity: 0.3;
}
.circle{
	fill-opacity: 0.9;
	stroke-opacity: 0.9;
}